<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Active Requests Page
	</title>
</head>
<body>
	<h1>
	Your Active Requests
	</h1>
	<main>
		<p>
			Active Requests:
		</p>
	</main>
    {{#if hasRequests}}
        <ul>
        {{#each requests}}
            <li>
                {{ topic }} <form action="/viewRequestAsStudent" method="POST">
				<button type="submit" id="viewRequest" name="viewRequest" value="{{this._id}}">View Request</button>
				</form>
            </li>
        {{/each}}
        </ul>
  {{/if}}
  <a href= "/dashboard" method= "get">Go Back to Dashboard</a>
</body>
</html>
