<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Add a Course Page
	</title>
</head>
<body>
	<h1>
	Add A Course
	</h1>
	<main>
		<p>
			User will use this page to add a course.
		</p>
        <div>
		<form id= "addCourse-form" action="/addACourse" method="POST">
            Enter Course you want to add:
            <select name= "course">
            <option value="CS546">CS546 - Web Programming</option>
            <option value="CS511">CS511 - Concurrent Programming</option>
            <option value="CS570">CS570 - Intro to Algorithms</option>
            <option value="CS554">CS554 - Web Programming II</option>
            </select>
            <br>
            <br>
			<button type="submit">Add</button>
		</form>
        </div>
	</main>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
    {{#if alreadyStudent}}
        <p class = 'error'>Course already added..!!</p>
        <p class="error">Either you are student or already a tutor in the selected subject..!!</p>
    {{/if}}
    <a href= "/dashboard" method= "get">Go Back to Dashboard</a>
</body>
</html>
