<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Add A Request Page
	</title>
</head>
<body>
	<h1>
	Add A Request
	</h1>
	<main>
		<p>
			User will use this page to create a new Tutor request.
		</p>
        <div>
		<form id= "request-form" action="/addARequest" method="POST">
            Enter Course
            <select name= "course">
            <option value="CS546">CS546</option>
            <option value="CS554">CS554</option>
            <option value="CS511">CS511</option>
            <option value="CS570">CS570</option>
            </select><br>
            Enter Topic
            <input type="text" name="topic" required><br>
            Enter Description
            <input type="text" name="description" required><br>
            Enter Date and Time
            <input type="datetime-local" name="time" required><br>
            Enter Location
            <select name= "location">
            <option value="Library">Library</option>
            <option value="Howe Center">Howe Center</option>
            <option value="Babio">Babio</option>
            <option value="NorthBuilding">North Building</option>
            </select>
            <br>
			<button type="submit">Create Request</button>
		</form>
        </div>
	</main>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
</body>
</html>