<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Dashboard
	</title>
</head>
<body>
	<h1>
        <div class= "title">Dashboard
        </div>
    </h1>
    <br><br>
	<main>
        <div class = "courseBox">
        <p>
            <br>Name of the Course : {{ nameOfTheCourse }}
            <br>Profession: {{ profession }}
        </p>
        <form action="/addARequest" method="get">
                <input type="submit" value="Add Request">
                </form>
        </div>
	</main>
    <form action="/viewActiveRequests" method="get">
                <input type="submit" value="View Active Requests">
                </form>
    <input type = "button" value="Add a Course">
    {{!-- <input type = "button" value="Become a Tutor"> --}}
    <form action="/becomeATutor" method="get">
    <input type="submit" value="Become A Tutor">
    </form>
    <br><br>
    <div class = "logoutButton">
                <form action="/logout" method="get">
                <input type="submit" value="Logout">
                </form>
            </div>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
  
</body>
</html>