<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Login Page
	</title>
</head>
<body>
	<h1>
	The Pendikan
	</h1>
	<main>
		<p>
			User will use this page to login into the system.
		</p>
        <div>
		<form id= "login-form" action="/login" method="POST">
            Username
            <input type="text" name="username"><br>
            Password
            <input type="password" name="password"><br>
			<button type="submit">Submit</button>
		</form>
         {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
        <form action="/signup" method="GET">
        <button type="submit">Sign Up</button>
        </form>
        </div>
	</main>
     <br><br><br> <i>To Do : <br>
            <ol>
            <li>If user does not exist , show error
            <li>Add "postedAt" property for Requests
            <li>In signup, give error if username or email already exists
            <li>Change "Add Request" button to "View Active Requests" in Tutor Boxes
            <li>Add Interim "Successfully became a tutor"
            <li>Add ViewRequest functionality
            <li>Add repliedBy functionality
            <li>Add Upload Transcript functionality
            <li>Add "Add A Course" Functionality
            <li>Remove 'password' field from db
            <li>While adding new users via signUp, check username or email already exists
            <li>Check HTML Pages with Html Markup Validation
            <li>Add frontEnd Design to the site using Bootstrap
            <li>Validate all inputs 
            <li>XSS all the inputs
            <li>Create Interim "Requested Successfully Created" with a link to dashboard
            <li>Fetch Course JSON element from a "Course" collection
            <li>Check website with tota11y
            </ol>
    <br><br>Doubts: 
    <ol>
     <li>Ask Patrick: How did bcrypt understand the number of salt rounds  
     <li>How to upload a PDF Document: Is it by adding it to server and then getting the link   
     <li>Why is it going to the * route again and again
    </ol>
    </i>
</body>
</html>