<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Logout Page
	</title>
</head>
<body>
	<h1 class="logout-h1">
	Thank you for using The Pendikan
	</h1>
	<main>
		<p class="logout-p">
			User is now logged out.
            <a href= "/" method= "get ">Click here to go to login page</a>
		</p>
	</main>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
</body>
</html>