<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="public/css/site.css">
    <title>
        Remove a Course Page
    </title>
</head>

<body>
    <main>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="/dashboard"> Go Back to Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
            </nav>
        </div>

        <div id="page-wrapper"  class="activeRequest-h2">
            <h1 class="activeRequest-h1"> REMOVE A COURSE</h1>
            <br>
            <form id="removeCourse" action="/removeCourse" method="POST"  class="activeRequest-h2">
                Enter Course you want to remove:
                <select name="course">
                    <option value="CS546">CS546 - Web Programming</option>
                    <option value="CS511">CS511 - Concurrent Programming</option>
                    <option value="CS570">CS570 - Intro to Algorithms</option>
                    <option value="CS554">CS554 - Web Programming II</option>
                </select>
                <br>
                <br>
                <button type="submit">Remove</button>
            </form>
        </div>
    </main>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li class="error">
            {{ this }}
        </li>
        {{/each}}
    </ul>
    {{/if}}

</body>

</html>