<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Signup Page
	</title>
</head>
<body>
	<h1>
	The Pendikan
	</h1>
	<main>
		<p>
			User will use this page to create a new User Id.
		</p>
        <div>
		<form id= "signup-form" action="/signup" method="POST">
            Enter new username
            <input type="text" name="username"><br>
            Enter new password
            <input type="password" name="password"><br>
            Enter your college email address
            <input type="email" name="email"><br>
			<button type="submit">Sign Up</button>
		</form>
        </div>
	</main>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
  {{/if}}
</body>
</html>