<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/site.css">
	<title>
		Signup Page
	</title>
</head>
<body>
	<h1>
	The Pendikan
	</h1>
	<main>
		<p>
			User will use this page to create a new User Id.
		</p>
        <div>
		<form id= "signup-form" action="/signup" method="POST">
            Enter new username
            <input type="text" name="username" required><br>
            Enter new password
            <input type="password" name="password" required><br>
            Enter your college email address
            <input type="email" name="email" required><br>
            Enter Atleast One Course:
            <select name= "course">
            <option value="CS546">CS546 - Web Programming</option>
            <option value="CS511">CS511 - Concurrent Programming</option>
            <option value="CS570">CS570 - Intro to Algorithms</option>
            <option value="CS554">CS554 - Web Programming II</option>
            </select>
            <br>
			<button type="submit">Sign Up</button>
		</form>
        </div>
	</main>
    {{#if hasErrors}}
        <ul class="error-list">
        {{#each errors}}
            <li class= "error">
                {{ this }}
            </li>
        {{/each}}
        </ul>
	<a href="/homepage">Sign In</a>
  {{/if}}
</body>
</html>
